<div>
  <img class='left' src='/img/1.jpg' alt='Whole thing'/>
  <div class='left padded-left'>
    <h1>Michal Lang</h1>
        <div>
      <strong>Origin:</strong>
      <span>Pelhřimov</span>
    </div>
    <div>
      <strong>Education:</strong>
      <span>Czech University of Life Sciences: Currently a student in the 2nd year of the master's degree</span>
    </div>
<div>
<strong>Study abroad experience:</strong>
<span>OCT 2012 - JUN 2013 BOKU Vienna, SEP 2014 - JAN 2015 Dalhousie University, Truro</span>
</div>
<div>
  <strong>Work experience:</strong>
  <span>ČS/IBM/WEBCOM</span>
</div>
    <div>
      <strong>Expectations for the future:</strong>
      <span>No expectations</span>
    </div>
    <div>
      <strong>Languages:</strong>
      <span>English (75%), German (30%) and Czech (almost 100%)</span>
    </div>
        <div>
      <strong>Any suggestions for the course improvement?</strong>
      <p>NOPE, it was PERFECT! We had a practical course after a long long time !!! I pray for more such courses. :) </p>
    </div>
  </div>
</div>
<div class='row'>
  <img src='/img/2.jpg'/>
  <img src='/img/3.jpg'/>
</div>
